.c1 {
  height: 300px;
  width: 300px;
  /* background-image: radial-gradient(red,black); */
  /* background-image: radial-gradient(red, black, yellow, green, orange); */
  /* background-image: radial-gradient(red, black, yellow, green, orange);


   border-radius: 50%; */
   /* background-image: radial-gradient(circle,green,blue); */

   background-image: radial-gradient(black 10%,white 20%);
   border-radius: 50%;






}
