.div1{
    background-color: aquamarine;
    width: 450px;
    height: 20px;
    font-size: 25px;
    /* border-style: dotted; */
    /* border-style: solid;
    border-style: dashed;
    border-style: double;
    border-width: 20px;
     */
     /* border-style: outset;
     border-style: inset; */
     /* border-style: groove; */
     /* border-style: ridge; */

     /* border: width 20px; ; */
     /* border-color: blueviolet; */

     /* border shoutcut */
     /* border: 10px solid yellow; */





}


.div2{
    background-color: teal;
    width: 450px;
    height: 450px;
}